@font-face {
    font-family: 'Nue';
    src: url(./NeueHaasDisplayBlack.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Neu";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: #fff;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

nav{
    height: 100px;
    width: 100%;
    padding: 2vw 0vw;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: #000000;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;

}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: #fff;
}

#center{
    height: 67vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid  #0000003c;
    justify-content: space-between;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 30vw;
    font-size: 2vw;
    line-height: 2vw;
}
#center h1{
    font-size: 9vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    border-radius: 20px;
    width: 100%;
    margin-top: 4vw;
    position: relative;
    z-index: 1;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #fe320a;
    border-radius: 50%;
    right: 0;
    top: 65vh;
    filter: blur(20px);
    z-index: 0;
}
#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


#page2{
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
}

#moving-text h1{
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;

}
.con{
    white-space:nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}
#moving-text{
    white-space: nowrap;
    overflow-x: hidden;
}
#moving-test::-webkit-scrollbar{
    display: none;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
